@model CreateOfferDiscountDto

@{
    ViewData["Title"] = "CreateOfferDiscount";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Özel İndirim Ekleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Özel İndirim Başlığı</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Özel İndirim Alt Başlığı</label>
                        <input type="text" class="form-control" asp-for="SubTitle" />
                        <br />
                        <label>Özel İndirim URL</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Özel İndirim Buton Adı</label>
                        <input type="text" class="form-control" asp-for="ButtonTitle" />
                        <br />
                        <button type="submit" class="btn btn-primary">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


